# subdirectories to ignore #
Misc/
Syllabus/*.*
Activities/*.*
Slides/*.*

# filetypes to ignore #
*.docx

# files to ignore #
!Activities/*.pdf
!Activities/*.tex
!Activities/*.bib
!Syllabus/*.pdf
!Syllabus/*.tex
!Syllabus/*.bib
!Slides/*.pdf
!Slides/*.tex
!Slides/*.bib
